[Unit]
Description=radeon

[Service]
Type=simple
ExecStartPre=/home/fyr/.dots/bin/radeon undervolt 1080
ExecStart=/home/fyr/.dots/bin/radeon temp

[Install]
WantedBy=multi-user.target
