[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=fyr
Type=notify
ExecStart=/usr/bin/transmission-daemon -f --log-error -c /mnt/pool/torrents/watchdir	
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
